body {
  text-align: center;
  padding: 30px 20px;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
  color: #044a42;
}

h1 {
  font-size: 44px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
}

.weather-container {
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px 10px;
  padding: 20px 30px;
  background: #eaf6f6;
}

a {
  text-decoration: none;
}

.enter-btn {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #044a42;
  color: #044a42;
  padding: 6px 12px;
  width: 100%;
}

button {
  border-radius: 10px;
}

.forecast {
  font-size: 34px;
  color: grey;
}

.precipitation {
  font-size: 18px;
  color: grey;
}

.about {
  font-size: 12px;
}
