body {
  text-align: center;
  padding: 30px 20px;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h1 {
  font-size: 44px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 10px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

button {
  border-radius: 10px;
}

.weather-container {
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px auto;
  padding: 20px 30px;
  background: #004445;
}

.enter-btn {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #004445;
  color: black;
  padding: 6px 12px;
  width: 100%;
}

.temperature {
  font-size: 38px;
  font-weight: 600;
}

.forecast {
  margin-top: 5px;
  text-align: center;
  color: #fff;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.forecast-temperature {
  font-size: 13px;
}

.forecast-min {
  opacity: 0.5;
}

.about {
  font-size: 12px;
  color: black;
}
